[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = derbalkon
	email = to.wrrrr@gmail.com
	signingkey = 3078FC48CAFF1832
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
[http]
	proxy = http://127.0.0.1:7890
